function Ground.new 0
push constant 9
call Memory.alloc 1
pop pointer 0
push constant 20
call Array.new 1
pop this 0
push constant 5
pop this 1
push constant 25
pop this 2
push constant 0
pop this 7
push argument 0
push constant 200
call Random.new 2
pop this 8
push pointer 0
return
function Ground.terraForm 1
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 20
lt
not
if-goto WHILE_END0
push local 0
push this 0
add
push this 8
call Random.nextInt 1
push constant 20
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 3
push this 0
add
push constant 2
push this 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 256
push constant 2
push this 0
add
pop pointer 1
push that 0
sub
push constant 10
sub
push this 1
sub
pop this 4
push constant 256
push constant 17
push this 0
add
pop pointer 1
push that 0
sub
push constant 10
sub
push this 1
sub
pop this 6
push constant 0
pop this 7
push constant 0
return
function Ground.dispose 0
push argument 0
pop pointer 0
push this 8
call Random.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Ground.draw 5
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 20
lt
not
if-goto WHILE_END0
push local 0
push this 2
call Math.multiply 2
pop local 1
push local 1
push this 2
add
pop local 3
push constant 256
push this 1
sub
push local 0
push this 0
add
pop pointer 1
push that 0
sub
pop local 2
push constant 256
push this 1
sub
pop local 4
push local 1
push local 2
push local 3
push local 4
call Screen.drawRectangle 4
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Ground.getFreeHeight 1
push argument 0
pop pointer 0
push argument 1
push this 2
call Math.divide 2
pop local 0
push argument 1
push constant 500
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push constant 256
push this 1
sub
push local 0
push this 0
add
pop pointer 1
push that 0
sub
return
function Ground.drawTanks 1
push argument 0
pop pointer 0
push constant 10
pop local 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 67
push this 4
push local 0
call Screen.drawCircle 3
pop temp 0
push constant 437
push this 6
push local 0
call Screen.drawCircle 3
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 67
push this 4
push local 0
push constant 5
sub
call Screen.drawCircle 3
pop temp 0
push constant 437
push this 6
push local 0
push constant 5
sub
call Screen.drawCircle 3
pop temp 0
push constant 0
return
function Ground.explode 1
push argument 0
pop pointer 0
push argument 1
push constant 5
add
push this 2
call Math.divide 2
pop local 0
push local 0
push this 0
add
push local 0
push this 0
add
pop pointer 1
push that 0
push constant 20
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 0
add
pop pointer 1
push that 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE0
push local 0
push constant 17
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
pop this 7
label IF_FALSE1
push constant 0
return
function Ground.getTank1X 0
push argument 0
pop pointer 0
push constant 67
return
function Ground.getTank1Y 0
push argument 0
pop pointer 0
push this 4
return
function Ground.isEnemyDestroyed 0
push argument 0
pop pointer 0
push this 7
return
